 {% extends "layoutFront.twig"%}
 

{% block title %}Erreur 404{% endblock %}


{% block content %}

	<header class="page404">
		<div class="container">
			<div class="intro-text">
       			<h1 class="intro-heading text-uppercase">La page demandée n'existe pas</h1>
			</div>
		</div>
	</header>
		



{% endblock %}

