{% extends "layoutFront.twig" %}

{% block title %}Connexion{% endblock %}

{% block content %}

{% import 'macro.twig' as form %}


<main>
	<section class="bg-light page-section">
   
    	<div class="container"> 
   
			 <div class="intro-text col-12 row justify-content-center">
			 
	        	<h1 class="intro-heading text-uppercase p-5">Récupération du mot de passe</h1>
			</div>
			<div class="text-center mb-5">
				{% include 'success.twig' %} 
			</div >
			<form method="post" action="">{{csrf_input()}} 
				<div class="text-center col-lg-12 row justify-content-center ">
					<div class="row  mb-4 pb-2">
						{{ form.input ('login', 'Votre login', {autofocus:'autofocus'} )}}
						{{ form.input ('email', 'Votre email', {type: 'email'} )}}
					</div>
				</div>
				<div class="row justify-content-center my-5">
					<div class="pr-3">
						<button class='btn btn-primary' type="submit" >Envoyer</button>
					</div>
					
				</div>
			</form>
			
		</div>

	</section>
</main>

{% endblock %}