
{% extends "layoutFront.twig" %}

{% block title %}Ajout nouvel article{% endblock %}


{% block content %}
	<div class="articles">
		<div class="container">
		<div class="intro-text">
		<h1> les articles</h1>
		<div class="container">
			<div class="col-md-12 row">
				{% for key, article in var %}  
			
						<div class="card col-md-4">
							<div class="card-block">
								<h4 class="card-title">{{article.title |title }}</h4>
								<p class ="card-text">{{article.description}}</p>
								<p class="card-text">{{article.content | striptags('<br><p>')|slice(0,200)|raw}}</p> 
								<a href="/articles/{{article.id}}">lire la suite </a>
								{# le content est à remplacer par description, et un lien. #}
							</div>
					
					</div>

				{% endfor %}

			</div>
		</div>
		</div>
		</div>
	</div>
{% endblock %}