{% extends "layoutBack.twig" %}

{% block title %}Ajout nouvel article{% endblock %}

{% block content %}
{% import 'macro.twig' as form %}

<main>
	<section class="bg-light page-section">
	    <div class="container">
			<h1 class="text-center m-lg-5">Création d'un nouvel article</h1> 
			<div class="col-md-12 row">
				
				<div class="col-md-12 text-center">
					
						<form method="post" action="create">
							<div class="text-center"> 
							{%if var.success == 1 %}
				                <div class="alert alert-success"> L'article a bien été enregistré !!
				            	</div>
				            {%endif%}
				            {%if var.success == 2 %}
				                <div class="alert alert-danger"> Cet article est déjà enregistré !!
				            	</div>
				            {%endif%}
							<div class="row">
								<div class="col-md-5 text-right">	
									{{ form.input ('Title', 'Titre de l\'article', '0', '255', {autofocus:'autofocus'} )}}
								</div>
								<div class="col-md-6 text-left">
									{{ form.textarea ('Description', 'Résumé de l\'article' )}}
								</div>
							</div>
									{{ form.textarea ('Content', 'Contenu de l\'article', '8', '70' )}}
								
								<div class="col-md-12 text-center">
									<p>Publier ?</p>
									
										<div class="col-md-12">
											<label for="published">non</label>
											<input type="radio" name="published" value="non" checked>
											<label for="published">oui</label>
											<input type="radio" id="Published" name="published" value="oui" >
											<div class="col-md-12 expandable">
												<a><label for="publishedDate">Date de la publication : </label></a>
												<input type="date" id="PublishedDate" name="publishedDate" value="2019-08-22" min="2019-07-31">
											</div>
										</div>
								

								</div>		
								<div class="row">
									<div class="col-md-4 text-right">
										<button type ="button">Retour</button>   {# mettre un eventlistener dessus pour faire un retour arrière #}
									</div>
									<div class="col-md-4 text-center">
										<button type="submit">Valider</button>
									</div>
									<div class="col-md-4 text-left">
										<button type="reset">Réinitialiser</button>
									</div>
								</div>
							</div>
						</form>
				
				</div>
			</div>
		</div>
	</section>
</main>


{% endblock %}