
{% extends "layoutFront.twig" %}

{% block title %}Ajout nouvel article{% endblock %}


{% block content %}
	<div class="articles">
		<div class="container">
		<div class="intro-text">
		<h1> les articles</h1>
		<div class="container">
			<div class="col-md-12 row">
						<div class="card col-md-12">
							<div class="card-block">
								<h4 class="card-title">{{var.title |title }}</h4>
								<p class ="card-text">{{var.description}}</p>
				
								<p class="card-text mb-3">{{var.content |striptags('<br><p>')|raw}}</p> 
								{# le content est à remplacer par description, et un lien. #}
				
							</div>
					
					</div>


			</div>
		</div>
		</div>
		</div>
	</div>
{% endblock %}