{% extends "layoutBack.twig" %}

{% block title %}Ajout Commentaires{% endblock %}

{% block content %}

<main>
	<section class="bg-light page-section" id="">
	    <div class="container">
			<h1 class="text-center m-lg-5">Ajout d'un commentaire</h1> 
			<div class="col-md-12 row">
				<div class="col-md-6">
					<div>ajout du titre de l'article
					</div>
					<div>ajout de l'article
					</div>
	<!--article à ajouter-->
				</div>
				<div class="col-md-6 ">
					<div class="m-md-3">
						<form method="post" action="..\public\index.php">
							<div class="text-center">
								<input type="text" id="commentTittle" name="commentTittle" placeholder="Le titre du commentaire" required="" minlength="1" maxlength="200" autofocus="">
								<br/>
								<br/>
							</div>
							<div>
								<textarea id ="commentText" name="commentText" rows="6" cols="50" placeholder="Votre comentaire" required=""></textarea>
								<br/>
								<br/>
								<div class="row">
									<div class="col-md-6 text-center">
										<button type="submit" name="InscriptionPage">Envoyer</button>
									</div>
									<div class="col-md-6 text-center">
										<button type="reset">Réinitialiser</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>


{% endblock %}