{% extends "layoutBack.twig" %}

{% block title %}Connexion{% endblock %}

{% block content %}

{% import 'macro.twig' as form %}


<main>
<section class="bg-light page-section">
    <div class="container">
		<div class="text-center m-lg-5">
			<h1>Page connexion</h1>
		</div>
		<div class="text-center m-lg-5">
			<form method="post" action="">
				
				{{ form.input ('Login', 'Votre login', '1', '20', {autofocus:'autofocus'} )}}
				{{ form.input ('Password', 'Votre mot de passe', '1', '20', {type: 'password'} )}}

				<button type="submit" >Envoyer</button>
				<button type="reset">Réinitialiser</button>
			</form>
			<div class="text-center m-lg-5">
			<p>Pas encore inscrit ?</p>
				<form action="/inscription">
					<button type="submit">S'inscrire</button>
				</form>
			
			</div>

		</div>
	</section>
</main>

{% endblock %}